<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Blue Jeans Client Logs</title>
		<link href="styles/all.css?{{VERSION}}" rel="stylesheet" type="text/css" />
	</head>
	<body class="nihilo">
		<header>
			<span class="title"><span class="bjnLogo">Blue Jeans</span> Client Logs</span>
			<span class="preferences" style="display: none"><a href="#">Preferences</a></span>
			<span class="uploader"><a href="https://bluejeans.com/loguploader/" target="_blank">Log Uploader</a></span>
		</header>

		<div id="stage"></div>

		<div id="preferencesDialog" data-dojo-type="dijit/Dialog" title="Preferences" style="display: none">
			<div data-dojo-type="dijit/form/Form" id="uploadNotificationsForm" class="uploadNotifications">
				<div class="dijitDialogPaneContentArea">
					<div class="label">
						<h3>Upload Notifications<span class="icon"></span></h3>
						<div class="recipients">
							<h4>Recipients</h4>
							<div id="recipients" name="recipients" data-dojo-type="dojox.form.ListInput" data-dojo-props="regExp:'^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+(?:[A-Za-z]{2}|aero|asia|biz|com|coop|edu|gov|info|jobs|mil|mobi|museum|name|net|org|pro|tel|travel|xxx)$', invalidMessage:'Invalid email address.'"></div>
						</div>
						<div class="capsLock">
							<h4>Caps-Lock</h4>
							<label>
								<input id="capsLock" name="capsLock" data-dojo-type="dijit/form/CheckBox"></input>
								YEAH I LIKE IT LOUD, GIMME THE CAPS
							</label>
						</div>
					</div>
				</div>
				<div class="dijitDialogPaneActionBar">
					<button id="save" dojoType="dijit.form.Button" type="submit">Save</button><a href="#" class="cancel">cancel</a>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			dojoConfig = {
				async: true,
				baseUrl: 'scripts',
				deps: ['dojo/nls/dojo_ROOT', 'app/index'],

				packages: [{
					name: 'dojo',
					location: 'dojo'
				},{
					name: 'dijit',
					location: 'dijit'
				}]
			};
		</script>
		<script type="text/javascript" src="scripts/all.js?{{VERSION}}"></script>
	</body>
</html>