@gray_medium : #808080;
@gray_dark   : #545454;
@red         : #ff3939;
@orange      : #ff9649;
@yellow      : #fff049;
@green       : #52ff49;
@cyan        : #49fff4;
@blue        : #499aff;
@purple      : #ec49ff;