.font-size(@size){
	font-size: 1/16em * @size;
}

/*.gotham() {*/
.fonts() {
	.periodNavigation() {
		font-family: "Gotham";
	}

	.reportTitle() {
		font-family: "Gotham";
	}

	.reportUnits() {
		font-family: "Gotham";
		font-weight: bold;
	}

	.reportNumber(){
		font-family: "Gotham Rounded";
		font-weight: bold;
	}
}

@font-face {
	font-family: "Gotham";
	font-weight: normal;
	src: url('../fonts/GothamMedium.woff') format('woff');
}

@font-face {
	font-family: "Gotham";
	font-weight: bold;
	src: url('../fonts/GothamBold.woff') format('woff');
}

@font-face {
	font-family: "Gotham Rounded";
	font-weight: bold;
	src: url('../fonts/GothamRounded-Bold.woff') format('woff');
}