header {
	padding: 89px 59px;

	h1 {
		background  : url('../images/logo.svg') no-repeat;
		height      : 107px;
		text-indent : -9999px;
		width       : 380px;
	}

	nav {
		.font-size(21pt);
		.fonts > .periodNavigation();
		float        : right;
		margin-right : -8px;
		margin-top   : -70px;

		a {
			.transition(color, 0.15s);
			color   : @gray_medium;
			padding : 20px 20px 20px;
			text-decoration: none;

			span {
				padding-bottom : 7px;
				border-bottom  : 3px solid transparent;
			}

			&:hover {
				color: black;
			}

			&.current {
				color: black;

				span {
					border-bottom-color: black;
				}
			}
		}
	}
}