.reports {
	margin : 0 72px;
}

.report {

	+ .report {
		margin-top : 120px;
	}

	.graph {
		background   : hsl(0, 0%, 96%);
		height       : 120px;
		margin-right : 288px;
		text-align   : right;

		.bar {
			background-color : black;
			display          : inline-block;
			overflow         : hidden;
			position         : relative;
			vertical-align   : bottom;

			.shadow {
				bottom   : 0;
				height   : 5px;
				left     : 0;
				position : absolute;
				right    : 0;
			}
		}
	}

	.graphColor(@ordinal, @color){
		&:nth-child(@ordinal) .graph .bar {
			background-color: @color;
			.shadow {
				background-color: darken(@color, 25%);
			}
		}
	}

	.graphColor(1, @red);
	.graphColor(2, @orange);
	.graphColor(3, @yellow);
	.graphColor(4, @green);
	.graphColor(5, @cyan);
	.graphColor(6, @blue);
	.graphColor(7, @purple);

	h2, .number, .units {
		clear : right;
		float : right;
		width : 224px;
	}

	h2 {
		.font-size(24pt);
		.fonts > .reportTitle();
		color : @gray_medium;
	}

	.number {
		.font-size(59pt);
		.fonts > .reportNumber();
		color       : black;
		font-weight : bold;

	}

	.units {
		.font-size(17pt);
		.fonts > .reportUnits();
		color          : @gray_medium;
		text-transform : uppercase;
	}
}