@blue: #4ca1e8;
@red: #ff5454;
@logo_blue: #3f7d9c;

@page_background: #f2f2ed;
@stage_background: #faf9f5;
@light_text: #808080;
@medium_text: #575757;
@dark_text: #262626;

@light_gray: #e0e0e0;
@dark_gray: #b5b5b2;

@stage_width: 353px;
@column_heading_height: 41px;