.DetailsPane {
	dl {
		bottom   : 0;
		left     : 0;
		overflow : auto;
		position : absolute;
		right    : 0;
		top      : @column_heading_height;
	}

	dt {

	}

	dd {
		.font-size(14pt);
		line-height   : 1.4em;
		margin-left   : 0.8em;
		overflow-wrap : break-word;
		white-space   : pre-wrap;

		li + li {
			margin-top: 0.3em;
		}
	}

	dd + dt {
		margin-top: 1em;
	}

	.placeholder {
		.font-size(19pt);
		.fonts > .placeholder();
		bottom        : 50%;
		color         : #b5b5b2;
		left          : 0;
		line-height   : 1.3em;
		margin-bottom : -0.35 * 165px;
		position      : absolute;
		right         : 0;
		text-align    : center;
		.icon {
			background    : url(../images/happycloud.svg) no-repeat top center;
			height        : 79px;
			margin-bottom : 42px;
			opacity       : 0.10;
		}
	}

	.hidden {
		display: none;
	}

	li .local {
		color: #babab7;
	}
}