.FilterPane {
	.label {
		.dijitTextBox {
			width: auto;
			display: block;
			margin-left: 6px;
			border-width: 1px;
			border-style: solid;
			border-color: @light_gray @light_gray @dark_gray;
			.border-radius(3px);
			background-image: none;
			.font-size(13pt);
			.fonts > .text;

			.dijitInputField {
				padding: 5px 9px;
			}

			.dijitArrowButton {
				border: none;
				background: none;
				padding: 0 0.5em;
			}

			&.dijitTextBoxHover {
				border-color: @dark_gray;
				/*@top_color: hsl(hue(@blue), saturation(@blue), lightness(@light_gray));
				@bottom_color: hsl(hue(@blue), saturation(@blue), lightness(@dark_gray));
				border-color: @top_color @top_color @bottom_color;*/
			}

			&.dijitTextBoxFocused {
				border-color: @blue;
			}
		}
	}
}