.font-size(@size){
	font-size: 1/16em * @size;
}

/*.fonts() {*/
.idealsans() {
	.site_heading() {
		font-family: "Ideal Sans Medium";
		.font-size(16pt);
	}

	.column_heading() {
		font-family: "Ideal Sans Medium";
	}

	.row_heading() {
		font-family: "Ideal Sans Medium";
	}

	.text(){
		font-family: "Ideal Sans Extra Light";
	}

	.link(){
		font-family: "Ideal Sans Extra Light";
	}

	.placeholder(){
		font-family: "Ideal Sans Extra Light";
		font-style: italic;
	}
}

.fonts() {
/*.whitney() {*/
	.site_heading() {
		font-family: "Whitney Semibold";
	}

	.column_heading() {
		font-family: "Whitney Semibold";
		font-weight: normal;
	}

	.row_heading() {
		font-family: "Whitney Semibold";
	}

	.text(){
		font-family: "Whitney Book";
	}

	.link(){
		font-family: "Whitney Book";
	}

	.placeholder(){
		font-family: "Whitney Book";
		font-style: italic;
	}
}

@font-face {
	font-family: "Ideal Sans Medium";
	src: url('../fonts/IdealSans-Medium-Pro.woff') format('woff');
}

@font-face {
	font-family: "Ideal Sans Extra Light";
	src: url('../fonts/IdealSans-XLight-Pro.woff') format('woff');
}

@font-face {
	font-family: "Ideal Sans Extra Light";
	font-style: italic;
	src: url('../fonts/IdealSans-XLightItalic-Pro.woff') format('woff');
}

@font-face {
	font-family: "Whitney Semibold";
	src: url('../fonts/Whitney-Semibold.woff') format('woff');
}

@font-face {
	font-family: "Whitney Book";
	src: url('../fonts/Whitney-Book.woff') format('woff');
}

@font-face {
	font-family: "Whitney Book";
	font-style: italic;
	src: url('../fonts/Whitney-BookItalic.woff') format('woff');
}