.GridPane {
	div.dojoxGrid {
		.fonts > .text();
		background : transparent;
		bottom     : 0;
		height     : auto;
		left       : 0;
		position   : absolute;
		right      : 0;
		top        : @column_heading_height;

		.dojoxGridContent .dojoxGridCell {
			border        : none;
			border-bottom : 1px solid fade(@light_gray, 50%);
			color         : @dark_text;
			font-size     : 1em;
		}

		.dojoxGridCell {
			padding: 8px 8px;
		}

		.dojoxGridRowOver, .dojoxGridRowSelected {
			.dojoxGridCell {
				background-color : @blue;
				color            : white;
			}
		}

		.dojoxGridRow.dojoxGridRowSelected {
			cursor: default;
		}

		.dojoxGridHeader {
			background-color : transparent;
			border-bottom    : 1px solid @light_gray;
			
			.dojoxGridCell {
				.fonts > .row_heading;
				background-color : transparent;
				background-image : none;
				color            : @medium_text !important;
				font-size        : 0.95em;
				padding-bottom   : 4px;
				padding-top      : 4px;
			}

			.dojoxGridCellFocus, .dojoxGridCell {
				border: none;
			}
		}

		.dojoxGridRow, .dojoxGridRowOdd {
			background-color: transparent;
		}

		.dojoxGridRow,
		.dojoxGridHeader .dojoxGridCell,
		.dojoxGridSortUp:hover,
		.dojoxGridSortDown:hover,
		.dojoxGridArrowButtonNode:hover {
			cursor: pointer;
		}

		.dojoxGridView, .dojoxGridHeader {
			left: 0 !important;
		}

		.dojoxGridScrollbox {
			background-color: transparent;
		}
	}
}