#neapolitan {

	.outer() {
		.border-radius(5px);

		background-color : @stage_background;
		border           : 1px solid @dark_gray;
		color            : @medium_text;
	}

	.outerHeading() {
		.font-size(16pt);
		.fonts > .column_heading;

		border-bottom : 1px solid @light_gray;
		color         : @light_text;
		display       : block;
		line-height   : @column_heading_height - 1px;
		text-align    : center;
	}

	.inner() {
		padding: 15px;

		.label {
			display: block;

			+ .label {
				margin-top: 24px;
			}
		}
	}

	.innerHeading() {
		.font-size(13pt);
		.fonts > .row_heading;
		color         : @medium_text;
		margin-bottom : 9px;
	}

}