body {
	background-color : @page_background;	
	font-size        : 1em;
	.fonts > .text;
}

body > header {
	margin-left  : auto;
	margin-right : auto;
}

body > header {
	margin : 19px 36px 17px;
	color  : #8b8b8a;
	.fonts > .site_heading();
	height : 19px;

	a {
		color           : @logo_blue;
		text-decoration : none;
	}

	.title {
		@title_vertical_offset: 0px;
		vertical-align: bottom;

		.bjnLogo {
			background   : url(../images/bluejeans.svg) no-repeat;
			display      : inline-block;
			height       : 1.2em;
			margin-right : 9px;
			text-indent  : -9999px;
			width        : 5.4em;
		}
	}

	.uploader, .preferences {
		float       : right;
		font-size   : 0.85em;
		margin-left : 2em;
		margin-top  : 3px;
	}

}