#preferencesDialog {
	@row_heading_width: 92px;

	#neapolitan > .outer();
	.box-shadow(none);

	.dijitDialogTitleBar {
		background : none;
		padding    : 0;

		.dijitDialogTitle {
			#neapolitan > .outerHeading();
		}

		.dijitDialogCloseIcon {
			background : none;
			display    : inline;
			height     : 14px;
			padding    : 8px;
			right      : 5px;
			top        : 5px;
			width      : 14px;
			color       : @light_text;

			&::before {
				.font-size(24pt);
				.fonts > .row_heading();
				content     : 'µ';
				line-height : 1px;
			}

			&:hover {
				color: @dark_text;
			}

			&:active {
				color: @blue;
			}
		}
	}


	.dijitDialogPaneContent {
		background : none;
		border-top : none;
		padding    : 0;
	}

	.dijitDialogPaneContentArea {
		#neapolitan > .inner();
	}

	.label {
		margin-left: @row_heading_width;

		> div + div {
			margin-top: 0.4em; //row spacing
		}
	}

	h3 {
		#neapolitan > .innerHeading();
		.font-size(15pt);
		margin-left: -1 * @row_heading_width;
	}

	.uploadNotifications h3 .icon {
		background   : url(../images/envelope.svg) no-repeat 50% 50%;
		float        : left;
		height       : 18px;
		margin-right : 8px;
		opacity      : 0.65;
		width        : 17px;
	}

	h4 {
		#neapolitan > .innerHeading();
		float         : left;
		margin-bottom : 0;
		margin-left   : -1 * @row_heading_width + 14px;
	}

	h4, label {
		line-height: 24px;
	}

	label {
		.font-size(13pt);
		//vertical-align: middle; //checkbox
	}

	#recipients {
		width      : 257px;
		overflow-x : hidden;
	}

	/* Allow items to wrap in a multi-line ListInput */
	.dojoxListInputItem	{
		position: relative;

		.dijitDialogCloseIcon {
			top: 2px;
		}
	}

	.dojoxListInputNode {
		/* Blank text box goes at the bottom of the ListInput, no the top */
		float: left;

		/* Don't give the blank text box its own line on first load */
		.dijitTextBox {
			width: 50px;
		}
	}

	.capsLock .dijitCheckBox {
		vertical-align: text-top; //idk, this aligns the checkbox
	}

	.dijitDialogPaneActionBar {
		border-top : 1px solid @light_gray;
		padding    : 9px;
		text-align : right;
	}

	.dijitButton, .dijitButtonHover {
		margin: 0;

		.dijitButtonNode {
			color: inherit;
			border-width: 1px;
			border-style: solid;
			border-color: @light_gray @light_gray @dark_gray;
			.border-radius(3px);
			background: white;
			background-image: none;
			.font-size(13pt);
			.fonts > .row_heading();
			padding: 3px 17px;
		}

		&.dijitButtonHover {
			.dijitButtonNode {
				border-color: @dark_gray;
			}
		}

		&.dijitButtonActive {
			.dijitButtonNode {
				background: white;
				border-color: @blue;
			}
		}
	}

	.cancel {
		.font-size(13pt);
		.fonts > .link();
		color: @medium_text;
		padding: 0 1.2em;
		margin-left: 5px;
		text-decoration: none;

		&:hover {
			color: @dark_text;
		}

		&:active {
			color: @blue;
		}
	}
}

.dijitDialogUnderlay {
	background: rgba(0,0,0,1);
	opacity: 0.15;
	box-shadow: inset 0px 0px 800px 100px black;
}