#stage {
	#neapolitan > .outer();

	position         : absolute;
	top              : 54px;
	left             : 24px;
	right            : 24px;
	bottom           : 24px;

	> div {
		position : absolute;
		top      : 0;
		bottom   : 0;

		+ div {
			border-left: 1px solid @light_gray;
		}
	}

	.FilterPane {
		left  : 0;
		width : 203px;
	}

	.GridPane {
		left  : 203px;
		width : 457px;
	}

	.DetailsPane {
		left  : 203px + 1px + 457px;
		right : 0;
	}

	.content {
		#neapolitan > .inner();
	}

	h2 {
		#neapolitan > .outerHeading();
	}

	h3, dt {
		#neapolitan > .innerHeading();
	}

	a, a:active, a:hover {
		color           : @blue;
		text-decoration : none;
	}
}